@font-face {
    font-family: "DS-digital";
    src: url("../fonts/DSDIGI.woff2") format("woff2"),
        url("../fonts/DSDIGI.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 27px 10px 10px;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;

}

.info-header li {
    position: relative;
}

.info-header a {

    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.info-header li:last-child a {
    color: black;
    font-weight: 500;
}

.info-header li:last-child:before {

    content: '';
    background: linear-gradient(45deg, rgb(10, 139, 32), rgb(26, 233, 18));
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -10px;
    right: -10px;
    border-radius: 10px;
    z-index: -1;


}


.info-header a:after {

    content: '';
    position: absolute;
    background-color: green;
    bottom: -15px;
    left: 10px;
    right: 10px;
    height: 3px;
    border-radius: 100px;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
}

.info-header a:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

.info-header li {
    list-style: none;
}

header img {
    width: 70px;
    margin-right: 10px;
}


header span {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "DS-digital", sans-serif;
}
